<main class="container">
  <%= render 'shared/breadcrumb', root: true %>
  <%= render 'shared/header', title: 'Hayate' %>

  <div>
    <ul>
      <li><%= link_to 'Search English Word', new_word_search_path %></li>
      <li><%= link_to 'Words', words_path %></li>
      <li><%= link_to 'Books', books_path %></li>
      <li><%= link_to 'Readings', readings_path %>
    </ul>
  </div>
</main>