<%= render 'shared/breadcrumb', root: true %>
<div class="flex flex-wrap p-4">

  <div class="w-full lg:w-1/2 px-2">
    <!-- Notes -->
    <%= render 'shared/header', title: 'Notes' %>
    <div>
      <div class="my-4">
        <div class="pt-4 mt-4">
          <%= form_with url: notes_path do |f| %>
            <div class="grid
                after:px-3.5
                after:py-2.5
                [&>textarea]:text-inherit
                after:text-inherit
                [&>textarea]:resize-none
                [&>textarea]:overflow-hidden
                [&>textarea]:[grid-area:1/1/2/2]
                after:[grid-area:1/1/2/2]
                after:whitespace-pre-wrap
                after:invisible
                after:content-[attr(data-cloned-val)_'_']
                after:border
            ">
               <%= f.text_area :body, value: '', class: "w-full rounded-md border-gray-300", onInput: "this.parentNode.dataset.clonedVal = this.value" %>
            </div>
            <div>
              <%= f.submit 'Add', class: "mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded block ml-auto" %>
            </div>
          <% end %>
        </div>

        <div>
          <% @notes.each do |n| %>
            <div class="mt-2">
              <p class="text-gray-600 text-xs"><%= n.created_at.strftime('%H:%M') %></p>
              <div class="text-base">
                <%= markdown(n.body).html_safe %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full lg:w-1/2 px-2">
    <!-- Daily Task -->
    <%= render 'shared/header', title: 'Daily Task' %>
    <div class="py-4">
      <div class="w-fit border">
        <div class="w-fit flex divide-x">
          <div class="px-2 py-1 w-32">Date</div>
          <% @daily_task_items.each do |i| %>
            <div class="px-2 py-1 w-20"><span class="line-clamp-1"><%= i.name %></span></div>
          <% end %>
        </div>
  
        <% if @daily_task_set.blank? %>
          <%= turbo_frame_tag "daily-tasks-set-date-#{Time.zone.today.to_s}" do %>
          <div class="w-full flex border-t">
            <%= link_to 'Start Day!', daily_task_sets_path, data: { "turbo-method": :post, turbo_frame: "daily-tasks-set-date-#{Time.zone.today.to_s}" } %>
          </div>
          <% end %><!-- turbo_frame_tag -->
        <% else %>
          <%= render 'daily_task_sets/date', daily_task_set: @daily_task_set, daily_task_items: @daily_task_items %>
        <% end %>
        </div>
      </div>
    </div>

    <!-- Tasks -->
    <%= render 'shared/header', title: 'Tasks' %>

    <div class="p-4 w-full border rounded-md">
      <%= form_for Task.new do |f| %>
      <%= f.hidden_field :start_date, value: Time.zone.today %>
      <%= f.hidden_field :end_date, value: Time.zone.today %>    
      <div class="flex items-center flex-wrap">
        <div class="w-full mb-2"><%= f.text_field :title, autofocus: true, class: 'border-x-0 border-t-0 border-b w-full' %></div>
        <div class="w-full lg:w-3/12">
            <%= f.select :category, Task.categories.keys, {}, class: 'border-x-0 border-t-0 border-b' %>
        </div>
        <div class="flex items-center justify-end w-full mt-2 lg:mt-0 lg:w-9/12">
          <%= f.submit 'Add', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      </div>
      <% end %> <!-- form_for -->
    </div>

    <div class="py-4 w-full divide-y">
      <%= turbo_frame_tag 'tasks-list' do %>
      <% @tasks.each do |task| %>
        <%= render 'tasks/task', task: %>
      <% end %>
      <% end %> <!-- turbo_frame_tag -->
    </div>

    <% if @weekly_tasks.present? %>
    <!-- Weekly Tasks -->
    <%= render 'shared/header', title: 'Weekly Tasks' %>
    <div class="pt-4 w-full divide-y">
      <%= turbo_frame_tag 'tasks-list' do %>
      <% @weekly_tasks.each do |task| %>
        <%= render 'tasks/task', task: %>
      <% end %>
      <% end %> <!-- turbo_frame_tag -->
    </div>
    <% end %>
  </div>
</div>