<%
  @daily_task_set = @current_user.daily_task_sets.today.first
  @daily_task_items = @current_user.daily_task_items.enabled.order(:created_at)
  @notes = @current_user.notes.today.order(created_at: :desc)
  @today_tasks = @current_user.today_tasks
  @weekly_objective = @current_user.weekly_objectives.current_week.first
%>


<%= render 'shared/breadcrumb', root: true %>
<div class="flex flex-wrap p-4">

  <div class="w-full lg:w-1/2 px-2">
    <!-- Weekly Objectives -->
    <%= render 'shared/header', title: 'Weekly Objectives' %>
    <div class="my-4">
      <%= turbo_frame_tag "weekly_objective" do %>
      <% if @weekly_objective.present? %>
        <p><%= @weekly_objective.objective %></p>
      <% else %>
        <%= form_for WeeklyObjective.new do |f| %>
          <div class="w-full mb-2">
            <%= f.text_field :objective, class: 'border-gray-300 rounded-md w-10/12' %>
            <%= f.submit 'Add', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
          </div>
        <% end %> <!-- form_for weekly_objective -->
      <% end %>
      <% end %><!-- turbo_frame_tag weekly_objective -->
    </div>

    <!-- Notes -->
    <%= render 'shared/header', title: 'Notes' %>
    <div class="mt-4">
      <%= form_with url: notes_path, model: Note.new do |f| %>
        <div class="grid
            after:px-3.5
            after:py-2.5
            [&>textarea]:text-inherit
            after:text-inherit
            [&>textarea]:resize-none
            [&>textarea]:overflow-hidden
            [&>textarea]:[grid-area:1/1/2/2]
            after:[grid-area:1/1/2/2]
            after:whitespace-pre-wrap
            after:invisible
            after:content-[attr(data-cloned-val)_'_']
            after:border
        ">
            <%= f.text_area :body, value: '', class: "w-full rounded-md border-gray-300", onInput: "this.parentNode.dataset.clonedVal = this.value" %>
        </div>
        <div>
          <%= f.submit 'Add', class: "mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded block ml-auto" %>
        </div>
      <% end %>
    </div>

    <div id="notes">
      <%= render @notes %>
    </div>

  </div>

  <div class="w-full lg:w-1/2 px-2">
    <!-- Daily Task -->
    <%= render 'shared/header', title: 'Daily Task' %>
    <div class="py-4">
      <div class="w-fit border sm:w-fit">
        <div class="flex divide-x w-fit">
          <div class="px-2 py-1 w-24">Date</div>
          <% @daily_task_items.each do |i| %>
            <div class="w-12 px-2 sm:w-20 truncate hover:text-clip text-xs sm:text-base flex items-center">
              <%= i.name %>
            </div>
          <% end %>
        </div>

        <% if @daily_task_set.blank? %>
          <%= turbo_frame_tag "daily-tasks-set-date-#{Time.zone.today.to_s}" do %>
          <div class="w-full flex border-t">
            <%= link_to 'Start Day!', daily_task_sets_path, data: { "turbo-method": :post, turbo_frame: "daily-tasks-set-date-#{Time.zone.today.to_s}" } %>
          </div>
          <% end %><!-- turbo_frame_tag -->
        <% else %>
          <%= render 'daily_task_sets/date', daily_task_set: @daily_task_set, daily_task_items: @daily_task_items %>
        <% end %>
      </div>
    </div>

    <!-- Today Tasks -->
    <%= render 'shared/header', title: 'Today Tasks' %>
    <%= link_to 'new', new_task_path, data: { turbo_stream: true },
      id: 'task-new-button',
      class: "mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded block ml-auto w-fit" %>
    <%= turbo_frame_tag 'task-form' %>

    <div class="py-4 w-full divide-y">
      <%= turbo_frame_tag 'today-tasks-list' do %>
      <% @today_tasks.each do |scheduled_task| %>
        <%= render 'scheduled_tasks/scheduled_task', scheduled_task: %>
      <% end %>
      <% end %> <!-- turbo_frame_tag -->
    </div>
  </div>
</div>
