<main class="container">
  <%= render 'shared/breadcrumb', root: true %>
  <div class="p-4">
    <%= render 'shared/header', title: 'Hayate' %>

    <div>
      <ul>
        <li><%= link_to 'Words', words_path %></li>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Daily Task', daily_task_sets_path %>
      </ul>
    </div>
  </div>
</main>