<%= render 'shared/breadcrumb', root: true %>
<div class="p-4">

  <!-- Notes -->
  <%= render 'shared/header', title: 'Notes' %>
  <div>
    <div class="my-4">
      <div class="px-4 lg:px-8 pt-4 lg:pt-8 mt-4 bg-gray-100">
        <%= form_with url: notes_path do |f| %>
          <div>
            <%= f.text_area :body, value: '', class: "w-full rounded-md focus:ring focus:ri focus:ri border-gray-300 text-gray-900" %>
          </div>
          <%= f.submit 'Add note', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </div>

      <ul class="p-4 lg:p-4 bg-gray-100 text-gray-800">
        <% @notes.each do |n| %>
          <li>
            <article>
              <div class="grid p-2 overflow-hidden md:grid-cols-5 rounded-xl lg:p-4 xl:grid-cols-12">
                <time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 text-gray-600">
                  <%= l n.created_at, format: :long %>
                </time>
                <p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 text-gray-700">
                  <%= n.body %>
                </p>
              </div>
            </article>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Daily Tasks -->
  <%= render 'shared/header', title: 'Daily Tasks' %>
  <div>
    <div class="pt-4">
      <span class="underline"><%= link_to 'Past...', daily_task_sets_path %></span>
      <span> | </span>
      <% if params[:last_week]%>
        <span class="underline"><%= link_to 'This Week', root_path %></span>
      <% else %>
        <span class="underline"><%= link_to 'Last Week', root_path(last_week: true) %></span>
      <% end %>
      <span> | </span>
      <span><%= link_to '⚙️', daily_task_items_path %></span>
    </div>
    <div class="pt-4">
      <table  class="border border-slate-500 table-auto">
        <thead>
          <tr>
            <th class="border border-slate-600 px-2 py-1">Date</th>
            <% @daily_task_items.each do |i| %>
              <th class="border border-slate-600 px-2 py-1 w-20"><span class="line-clamp-1"><%= i.name %></span></th>
            <% end %>
            <th class="border border-slate-600 px-2 py-1 w-30">起床</th>
            <th class="border border-slate-600 px-2 py-1 w-30">就寝</th>
          </tr>
        </thead>
        <tbody>
        <% if !params[:last_week] && !@daily_task_sets.first&.date&.today? %>
          <tr>
            <td class="border border-slate-600 px-2 py-1"><%= Time.zone.today %></td>
            <td class="border border-slate-600 px-2 py-1" colspan="<%= @daily_task_items.size + 2 %>">
              <%= link_to 'Start Day!', daily_task_sets_path, data: { "turbo-method": :post } %>
            </td>
          </tr>
        <% end %>
        <% @daily_task_sets.each do |task_set| %>
          <% tasks = task_set.daily_tasks.index_by(&:daily_task_item_id) %>
          <tr>
            <td class="border border-slate-600 px-2 py-1"><%= task_set.date %></td>
            <% @daily_task_items.each do |i| %>
              <% task = tasks[i.id] %>
              <% if task.done %>
                <td class="border border-slate-600 px-2 py-1">
                  <%= link_to '✅', daily_task_path(task, done: false, last_week: params[:last_week]), data: { "turbo-method": :patch } %>
                </td>
              <% else %>
                <td class="border border-slate-600 px-2 py-1">
                  <%= link_to '⬜️', daily_task_path(task, done: true, last_week: params[:last_week]), data: { "turbo-method": :patch } %>
                </td>
              <% end %>
            <% end %>

            <% if waking_hour = task_set.daily_waking_hour %>

              <%= form_with model: waking_hour do |f| %>
                <% if params[:last_week]%>
                  <%= f.hidden_field :last_week, value: params[:last_week] %>
                <% end %>
                <% if waking_hour.upped_at %>
                  <%= f.hidden_field :upped_at, value: waking_hour.upped_at.strftime('%m/%d %H:%M') %>
                  <td class="border border-slate-600 px-2 py-1"><%= waking_hour.upped_at.strftime('%m/%d %H:%M') %></td>
                <% else %>
                  <td class="border border-slate-600 px-2 py-1">
                    <%= f.time_field :upped_at, class: "border-0 text-sm p-0" %>
                    <%= f.submit '🌅' %>
                  </td>
                <% end %>

                <% if waking_hour.turned_in_at %>
                  <%= f.hidden_field :turned_in_at, value: waking_hour.turned_in_at.strftime('%m/%d %H:%M') %>
                  <td class="border border-slate-600 px-2 py-1"><%= waking_hour.turned_in_at.strftime('%m/%d %H:%M') %></td>
                <% else %>
                  <td class="border border-slate-600 px-2 py-1">
                    <%= f.time_field :turned_in_at, class: "border-0 text-sm p-0" %>
                    <%= f.submit '🛌' %>
                  </td>
                <% end %>
              <% end %>

            <% else %>
              <td class="border border-slate-600 px-2 py-1"></td>
              <td class="border border-slate-600 px-2 py-1"></td>
            <% end %>
          </tr>
        <% end%>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Readings -->
  <div class="pt-4">

    <%= render 'shared/header', title: 'Readings' %>

    <div class="pt-4">
      <table class="border border-slate-500 table-auto">
        <thead>
          <tr>
            <th class="border border-slate-600 px-2 py-1">Book</th>
            <th class="border border-slate-600 px-2 py-1">Category</th>
            <th class="border border-slate-600 px-2 py-1">Chapter</th>
            <th class="border border-slate-600 px-2 py-1">Progress</th>
            <th class="border border-slate-600 px-2 py-1">Note</th>
          </tr>
        </thead>
        <tbody>
          <% @readings.each do |r| %>
            <tr>
              <td class="border border-slate-600 px-2 py-1"><%= r.chapter.book.title %></td>
              <td class="border border-slate-600 px-2 py-1"><%= book_category(r.chapter.book.category) %></td>
              <td class="border border-slate-600 px-2 py-1"><%= r.chapter.title %></td>
              <td class="border border-slate-600 px-2 py-1"><%= r.chapter.number %>/<%= r.chapter.book.chapters.size %></td>
              <td class="border border-slate-600 px-2 py-1 underline"><%= link_to 'note', reading_path(r) %></td>
            </tr>
          <% end%>
        </tbody>
      </table>
    </div>
  </div>
</div>