<% simple = simple || false %>
<%= turbo_frame_tag "note_#{note.id}" do %>
<div class="mt-2">
    <p class="text-gray-600 text-xs">
        <%= note.created_at.today? ? note.created_at.strftime('%H:%M') : note.created_at.strftime('%Y-%m-%d %H:%M') %>
    </p>
    <div class="text-base">
    <%= markdown(note.body).html_safe %>
    </div>


    <% unless simple %>
    <p class="text-blue-600 text-xs underline line-clamp-1">
    <% if note.link %>
        <%= link_to note.link.title, link_path(note.link) %>
    <% elsif note.task %>
        <%= link_to note.task.title, task_path(note.task) %>
    <% elsif note.event %>
        <%= link_to note.event.title, event_path(note.event) %>
    <% elsif note.reading %>
        <% chap = note.reading.chapter %>
        <%= link_to "#{chap.book.title} - #{chap.title}", reading_path(note.reading) %>
    <% end %>
    </p>
    <% end %> <!-- unless simple -->

    <%= link_to 'delete', note_path(note), data: { "turbo-method": :delete }, class: 'ml-4 underline text-red-500' %>
</div>
<% end %><!-- turbo_frame_tag -->
