<% content_for(:page_title) { 'Entries' } %>

<main class="container w-full">
  <%= render 'shared/breadcrumb' %>
  <div class="p-4">
    <%= render 'shared/header', title: 'Entries' %>

    <div class="pt-4">
      <div class="flex flex-wrap">
        <%= paginate @entries %>
        <% @entries.each do |e| %>
          <div class="w-64 pt-12 pl-8">
            <a href="<%= e.url %>" target="_blank">
              <img src="<%= e.thumbnail_url %>" class="w-64 h-40 object-contain rounded-lg shadow-lg" alt="<%= e.title %>">
              <p class="line-clamp-2 font-bold pt-1"><%= e.title %></p>
              <p class="line-clamp-1 text-gray-800"><%= e.feed.title %></p>
              <p class="line-clamp-3 text-gray-500 text-sm"><%= e.description %></p>
            </a>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</main>