<%= turbo_frame_tag "task_#{task.id}", class: "w-full" do %>
<div class="flex items-center h-fit flex-wrap border-t py-2">
    <div class="w-1/12 mb-2">
    <% if task.scheduled_task.present? %>
        <p>scheduled</p>
    <% else %>
        <%= link_to 'schedule', scheduled_tasks_path(task_id: task.id), data: { "turbo-method": :post }, class: 'underline' %>
    <% end %>
    </div>
    <div class="w-11/12 mb-2"><span class="line-clamp-1"><%= link_to task.title, task_notes_path(task), data: { turbo_frame: "task_#{task.id}" }, class: 'underline text-lg' %></span></div>
    <div class="w-3/12"><%= task_category(task.category) %></div>
    <div class="text-sm w-6/12<%= task.end_date <= Time.zone.now ? ' text-red-500' : '' %>">
        <%= "#{l(task.start_date)} ~ #{l(task.end_date)}" %>
    </div>
    <div class="w-3/12 flex items-center justify-end">
        <%= link_to 'edit', edit_task_path(task), class: 'underline' %>
    </div>
</div>
<% end %>
