<%= turbo_frame_tag @task do %>
<%= form_for @task do |f| %>    
    <div class="flex items-center h-12 border-t">
        
        <div class="grow"><%= f.text_field :title, autofocus: true, class: "w-11/12" %></div>
        <div class="">
            <%= f.select :category, Task.categories.keys, {}, class: "rounded-md focus:ring focus:ri focus:ri dark:border-gray-700 dark:text-gray-900"%>
        </div>
        <div class="">
            <%= f.date_field :start_date %> ~ <%= f.date_field :end_date %>
        </div>
        <div class="w-24"><%= f.submit 'Update' %></div>
        <div class="w-24"><%= link_to 'Cancel', @task %></div>
    </div>
<% end %>
<% end %>