<% content_for(:page_title) { 'Tasks' } %>

<%= render 'shared/breadcrumb' %>
<div class="p-4">
  <%= render 'shared/header', title: 'Tasks' %>

  <div class="pt-4 w-full flex flex-col items-center">
    <%= render 'tasks/form', set_date: true %>
    
    <div class="pt-4 w-full divide-y">
      <%= turbo_frame_tag 'tasks-list' do %>
      <%= render @tasks %>
      <% end %> <!-- turbo_frame_tag -->
    </div>

  </div>
</div>