<% content_for(:page_title) { 'Tasks' } %>

<%= render 'shared/breadcrumb' %>
<div class="p-4">
  <%= render 'shared/header', title: 'Tasks' %>

  <% all = params[:all] %>
  <% today = params[:today] %>

  <div>
    <div class="pt-4">
      <%= form_for @task do |f| %>
        <div class="p-4 w-8/12 bg-gray-200 rounded-md">
          <div class="mt-2">
            <%= f.text_field :title, class: 'w-full' %>
          </div>
          <div class="mt-2">
            <%= f.select :category, Task.categories.keys, {}, class: "rounded-md focus:ring focus:ri focus:ri dark:border-gray-700 dark:text-gray-900"%>
          </div>
          <div class="mt-2">
            <%= f.date_field :start_date %> ~ <%= f.date_field :end_date %>
          </div>
          <div class="mt-2">
            <%= f.submit 'Add', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="pt-4">
      <table  class="border border-slate-500 table-auto">
        <thead>
          <tr>
            <th class="border border-slate-600 px-2 py-1">Done</th>
            <th class="border border-slate-600 px-2 py-1">Title</th>
            <th class="border border-slate-600 px-2 py-1">Created</th>
            <th class="border border-slate-600 px-2 py-1">Category</th>
            <th class="border border-slate-600 px-2 py-1">Delete</th>
          </tr>
        </thead>
        <tbody>
        <% @tasks.each do |t| %>
          <tr>
            <% if t.done? %>
              <td class="border border-slate-600 px-2 py-1">âœ…</td>
            <% else %>
              <td class="border border-slate-600 px-2 py-1">
                <%= link_to 'â¬œï¸', done_task_path(t), data: { "turbo-method": :patch } %>
              </td>
            <% end %>
            <td class="border border-slate-600 px-2 py-1"><%= t.title %></td>
            <td class="border border-slate-600 px-2 py-1"><%= l(t.created_at, format: :long) %></td>
            <td class="border border-slate-600 px-2 py-1"><%= task_category(t.category) %></td>
            <td class="border border-slate-600 px-2 py-1"><%= link_to 'ðŸ—‘ï¸', task_path(t), data: { "turbo-method": :delete } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>