<% content_for(:page_title) { @reading.chapter.book.title } %>

<%= render 'shared/breadcrumb', parents: [
  { url: books_path, title: 'Books'}
] %>

<div class="p-4">
  <%= render 'shared/header', title: "#{@reading.chapter.book.title} #{@reading.chapter.title}" %>

  <div class="mt-4">
    <% if @reading.chapter.book.chapters.count > @reading.chapter.number %>
      <%= link_to 'Next', next_book_path(@reading.chapter.book), data: { "turbo-method": :post }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% else %>
      <%= link_to 'Finish', finish_book_path(@reading.chapter.book), data: { "turbo-method": :post }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% end%>
  </div>

  <div class="mt-4">
    <h2 class="text-2xl lg:text-4xl">Notes</h2>

    <div class="pt-4 mt-4">
      <%= form_with url: reading_notes_path do |f| %>
        <%= f.hidden_field :reading_id, value: @reading.id %>
        <div class="grid
            after:px-3.5
            after:py-2.5
            [&>textarea]:text-inherit
            after:text-inherit
            [&>textarea]:resize-none
            [&>textarea]:overflow-hidden
            [&>textarea]:[grid-area:1/1/2/2]
            after:[grid-area:1/1/2/2]
            after:whitespace-pre-wrap
            after:invisible
            after:content-[attr(data-cloned-val)_'_']
            after:border
        ">
            <%= f.text_area :body, value: '', class: "w-full rounded-md border-gray-300", onInput: "this.parentNode.dataset.clonedVal = this.value" %>
        </div>
        <div>
          <%= f.submit 'Add', class: "mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded block ml-auto" %>
        </div>
      <% end %>
    </div>

    <div>
      <% @reading.notes.order(created_at: :desc).each do |note| %>
        <%= render 'notes/note', note: %>
      <% end %>
    </div>
  </div>
</div>
