<%= turbo_frame_tag @task do %>
<div class="h-fit border-t py-2">
    <div class="w-full"><span class="line-clamp-1 text-lg"><%= @task.title %></span></div>
    <div class="w-full flex">
        <div class="w-3/12"><%= task_category(@task.category) %></div>
        <div class="w-9/12<%= @task.end_date <= Time.zone.now ? ' text-red-500' : '' %>">
            <%= "#{l(@task.start_date)} ~ #{l(@task.end_date)}" %>
        </div>
    </div>
    <div class="w-full mt-2">
        <%= form_with url: task_notes_path(@task), data: { "turbo_frame": @task } do |f| %>
        <div class="grid
            after:px-3.5
            after:py-2.5
            [&>textarea]:text-inherit
            after:text-inherit
            [&>textarea]:resize-none
            [&>textarea]:overflow-hidden
            [&>textarea]:[grid-area:1/1/2/2]
            after:[grid-area:1/1/2/2]
            after:whitespace-pre-wrap
            after:invisible
            after:content-[attr(data-cloned-val)_'_']
            after:border
        ">
            <%= f.text_area :body, value: '', class: "w-full rounded-md border-gray-300", onInput: "this.parentNode.dataset.clonedVal = this.value" %>
        </div>
        <div class="w-full flex items-center justify-end">
            <%= f.submit 'Add', class: "mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded" %>
            <%= link_to 'Cancel', @task, class: 'ml-4 underline' %>
        </div>
        <% end %>
    </div>

    <div class="w-full">
        <% @notes.each do |n| %>
        <div class="mt-2">
            <p class="text-gray-600 text-xs"><%= n.created_at.strftime('%H:%M') %></p>
            <div class="text-base">
            <%= markdown(n.body).html_safe %>
            </div>
        </div>
        <% end %>
    </div>
</div>
<% end %>