<% content_for(:page_title) { 'Past Daily Tasks' } %>

<main class="container">
  <%= render 'shared/breadcrumb' %>
  <div class="p-4">
    <%= render 'shared/header', title: 'Past Daily Tasks' %>

    <div>
      <div class="pt-4">
        <%= paginate @daily_task_sets %>
        <table  class="border border-slate-500 table-auto">
          <thead>
            <tr>
              <th class="border border-slate-600 px-2 py-1">Date</th>
              <% @daily_task_items.each do |i| %>
                <th class="border border-slate-600 px-2 py-1"><%= i.name %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
          <% @daily_task_sets.each do |task_set| %>
            <% tasks = task_set.daily_tasks.index_by(&:daily_task_item_id) %>
            <tr>
              <td class="border border-slate-600 px-2 py-1"><%= task_set.date %></td>
              <% @daily_task_items.each do |i| %>
                <td class="border border-slate-600 px-2 py-1"><%= tasks[i.id]&.done %></td>
              <% end %>
            </tr>
          <% end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>