<% content_for(:page_title) { 'Daily Tasks' } %>

<%= render 'shared/breadcrumb' %>
<div class="p-4">

  <%= render 'shared/header', title: "Daily Tasks #{link_to '⚙️', daily_task_items_path}".html_safe %>
  <div>
    <div class="pt-4">
      <div class="w-fit border sm:w-fit">
        <div class="flex divide-x w-fit">
          <div class="px-2 py-1 w-24">Date</div>
          <% @daily_task_items.each do |i| %>
            <div class="w-12 px-2 sm:w-20 truncate hover:text-clip text-xs sm:text-base flex items-center">
              <%= i.name %>
            </div>
          <% end %>
        </div>

        <% @daily_task_sets.each do |daily_task_set| %>
          <% tasks = daily_task_set.daily_tasks.index_by(&:daily_task_item_id) %>
          <%= render 'daily_task_sets/date', daily_task_set:, daily_task_items: @daily_task_items %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <div class="pt-4">
      <%= render 'shared/header', title: 'Past Daily Tasks' %>
      <%= paginate @past_daily_task_sets %>

      <div class="w-fit border sm:w-fit">
        <div class="flex divide-x w-fit">
          <div class="px-2 py-1 w-24">Date</div>
          <% @daily_task_items.each do |i| %>
            <div class="w-12 px-2 sm:w-20 truncate hover:text-clip text-xs sm:text-base flex items-center">
              <%= i.name %>
            </div>
          <% end %>
        </div>

        <% @past_daily_task_sets.each do |daily_task_set| %>
        <%= turbo_frame_tag "past-daily-tasks-set-date-#{daily_task_set.date.to_s}" do %>
        <% tasks = daily_task_set.daily_tasks.index_by(&:daily_task_item_id) %>
        <div class="w-fit flex divide-x border-t">
          <div class="w-24 px-2 py-1 text-xs sm:text-sm flex items-center"><%= daily_task_set.date.to_s %></div>

          <% @daily_task_items.each do |i| %>
            <% task = tasks[i.id] %>
            <div class="w-12 sm:w-20 px-2 py-1">
            <% if task && task.done %>
              ✅
            <% elsif task && !task.done %>
              ⬜️
            <% end %>
            </div>
          <% end %> <!-- daily_task_items.each -->
        </div>
        <% end %>

        <% end %> <!-- @past_daily_task_sets.each -->
      </div>
    </div>
  </div>
</div>
