<% content_for(:page_title) { 'Weekly Review' } %>

<%= render 'shared/breadcrumb' %>

<div class="p-4 h-full">
  <%= render 'shared/header', title: 'Weekly Review' %>
  <%
    books = @readings.map { |r| "#{r.chapter.book.title}|XX%=>YY%|ほげほげ" }.join("\n")
    review = <<~BODY
      ## 週間目標

      ## やったこと
      ### daily task
      ### 読書

      タイトル|進捗🏃‍♂️|一言
      -|-|-
      #{books}

      ## まとめ
      ---
      終わり
    BODY
  %>

  <%= form_with model: WeeklyReview.new, url: weekly_review_path, class: "h-[calc(100%_-_1.25rem)] w-full pt-4" do |f| %>
    <%= f.text_area :review, value: review, class: "block w-full h-[calc(100%_-_3rem)] rounded-md border-gray-300" %>
    <%= f.submit 'Submit', class: "mt-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded block ml-auto" %>
  <% end %>
</div>
