<% turbo_frame = "scheduled_task_#{scheduled_task.id}" %>
<% task = scheduled_task.task %>
<%= turbo_frame_tag turbo_frame, class: "w-full" do %>
<div class="flex items-center h-fit border-t py-2 mb-2 w-full">
    <div class="w-fit flex flex-nowrap items-center">
      <%= link_to '⬜️', completed_tasks_path(task_id: task.id), data: { "turbo-method": :post } %>
      <%= link_to '➡️', scheduled_task_path(scheduled_task), data: { "turbo-method": :patch }, class: 'ml-2' %>
    </div>
    <div class="grow ml-2 truncate"><span class=""><%= link_to task.title, task_notes_path(task), data: { turbo_frame: }, class: 'underline text-lg' %></span></div>
    <div class="w-fit ml-2"><%= task_category(task.category) %></div>
</div>
<% end %>
