<%= form_with model: book do |f| %>
  <% if book.errors.any? %>
    <div>
      <%= book.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.select :category, Book.categories.keys %>
  </div>

  <div>
    <%= f.text_area :chapters, value: "" %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>