<%= turbo_frame_tag "link_#{link.id}" do %>
<div class="flex items-center border-t h-12">
    <div class="w-12">
    <% if link.read? %>
        âœ…
    <% else %>
        <%= link_to 'â¬œï¸', read_link_path(link), data: { "turbo-method": :patch, turbo_frame: "links-list" } %>
    <% end %>
    </div>
    <div class="grow"><%= link_to link.title, link.url, class: 'underline line-clamp-1', target: '_blank' %></div>
    <div class="w-64"><%= l(link.created_at, format: :long) %></div>
    <div class="w-12"><%= link_to 'ðŸ–‹ï¸', edit_link_path(link) %></div>
    <div class="w-12"><%= link_to 'ðŸ—‘ï¸', link_path(link), data: { "turbo-method": :delete, turbo_frame: "links-list" } %></div>
</div>
<% end %>