<% content_for(:page_title) { 'Links' } %>

<main class="container w-full">
  <%= render 'shared/breadcrumb' %>
  <div class="p-4">
    <%= render 'shared/header', title: 'Links' %>

    <div>
      <div class="pt-4">
        <%= form_for @link do |f| %>
          <div class="pt-4"><%= f.search_field :url, autofocus: true %><%= f.submit 'Add', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2" %></div>
        <% end %>
      </div>
      <div class="pt-4">
        <%= paginate @links %>
        <table  class="border border-slate-500 table-auto">
          <thead>
            <tr>
              <th class="border border-slate-600 px-2 py-1"></th>
              <th class="border border-slate-600 px-2 py-1">Title</th>
              <th class="border border-slate-600 px-2 py-1">Created</th>
              <th class="border border-slate-600 px-2 py-1"></th>
            </tr>
          </thead>
          <tbody>
          <% @links.each do |l| %>
            <tr>
              <% if l.read? %>
                <td class="border border-slate-600 px-2 py-1">âœ…</td>
              <% else %>
                <td class="border border-slate-600 px-2 py-1">
                  <%= link_to 'â¬œï¸', read_link_path(l), data: { "turbo-method": :patch } %>
                </td>
              <% end %>
              <td class="border border-slate-600 px-2 py-1 underline"><%= link_to l.title, l.url, target: '_blank' %></td>
              <td class="border border-slate-600 px-2 py-1"><%= l(l.created_at, format: :long) %></td>
              <td class="border border-slate-600 px-2 py-1"><%= link_to 'ðŸ—‘ï¸', link_path(l), data: { "turbo-method": :delete } %></td>
            </tr>
          <% end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>