<% content_for(:page_title) { 'Authorization Tokens' } %>

<%= render 'shared/breadcrumb' %>
<div class="p-4">
  <%= render 'shared/header', title: 'Authorization Tokens' %>

  <div class="p-4 w-full border rounded-md">
    <%= form_for AuthorizationToken.new do |f| %>
    <div><%= f.text_field :name %></div>
    <div>
        <%= f.submit 'Create' %>
    </div>
    <% end %> <!-- form_for -->
  </div>

  <div class="pt-4 w-full flex flex-col items-center">
    <div class="pt-4 w-full divide-y">
      <%= turbo_frame_tag "authorization_tokens" do %>
      <%= render @authorization_tokens %>
      <% end %> <!-- turbo_frame_tag -->
    </div>
  </div>
</div>
