<% content_for(:page_title) { 'Authorization Tokens' } %>

<%= render 'shared/breadcrumb' %>
<div class="p-4">
  <%= render 'shared/header', title: 'Authorization Tokens' %>

  <div class="p-4 w-full border rounded-md">
    <%= form_for AuthorizationToken.new do |f| %>
    <div><%= f.text_field :name %></div>
    <div>
        <%= f.submit 'Create' %>
    </div>
    <% end %> <!-- form_for -->
    <%= turbo_frame_tag 'created_authorization_token_value' %>
  </div>

  <div class="pt-4 w-full flex flex-col items-center">
    <div class="pt-4 w-full divide-y">
      <div class="flex items-center h-fit flex-wrap py-2">
        <div class="w-4/12">Name</div>
        <div class="w-3/12">Expires At</div>
        <div class="w-3/12">Created At</div>
        <div class="w-2/12"></div>
      </div>
      <%= turbo_frame_tag "authorization_tokens" do %>
      <%= render @authorization_tokens %>
      <% end %> <!-- turbo_frame_tag -->
    </div>
  </div>
</div>
