<main class="container">
  <%= render 'shared/header', title: 'Word Searches' %>

  <div>
    <%= link_to "New",
            new_word_search_path,
            class: "btn btn--primary" %>
    <table  class="border border-slate-500 table-auto">
      <thead>
        <tr>
          <th class="border border-slate-600 px-2 py-1">Word</th>
          <th class="border border-slate-600 px-2 py-1">Japanese</th>
          <th class="border border-slate-600 px-2 py-1">Pronunciation</th>
        </tr>
      </thead>
      <tbody>
      <% @word_searches.each do |ws| %>
        <tr>
          <td class="border border-slate-600 px-2 py-1"><%= link_to ws.word.en, word_search_path(ws.word.word_searches.last) %></td>
          <td class="border border-slate-600 px-2 py-1"><%= ws.word.ja %></td>
          <td class="border border-slate-600 px-2 py-1"><%= ws.word.pronunciation_symbol %></td>
        </tr>
      <% end%>
      </tbody>
    </table>
  </div>
</main>