<main class="container">
  <%= render 'shared/breadcrumb', parents: [{url: words_path, title: 'Words'}] %>
  <%= render 'shared/header', title: @word.en %>

  <div>
    <p><%= @word.word_searches.count %></p>
    <p><%= @word.ja %></p>
    <p><%= @word.pronunciation_symbol %></p>
    <p><%= @word.meaning %></p>
    <p><%= @word.misc %></p>
  </div>
</main>