<% content_for(:page_title) { 'Monthly Logs' } %>

<%

def color_for(date)
  if date.today?
    'underline text-green-500'
  elsif date.saturday?
    'text-blue-600'
  elsif date.sunday?
    'text-red-600'
  end
end


%>

<%= render 'shared/breadcrumb', parents: [{ url: future_log_path, title: 'Logs' }] %>
<div class="p-4">
  <%= render 'shared/header', title: 'Monthly Logs' %>

<div class="p-4 w-full lg:w-8/12 mx-auto">
    <div class="flex items-center w-fit mx-auto">
        <p><%= link_to '< Prev', log_path(@month.prev.id), class: 'underline' %></p>
        <p class="font-bold p-2">
            <%= @month.to_s %>
        </p>
        <p><%= link_to 'Next >', log_path(@month.next.id), class: 'underline' %></p>
    </div>
    <div class="w-full">
        <% @month.all_month.each do |date| %>
            <div class="flex w-full border-t items-center">
                <p class="w-1/12 font-bold p-2 <%= color_for(date) %>">
                    <%= date.day %>
                </p>
                <div class="w-11/12">
                  <%= render 'events/list', events: @events[date] || [], date: %>
                </div>
            </div>
        <% end %><!-- @month.all_month.each -->
    </div>
</div>