<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-screen">
    <main class="h-full w-full flex">
      <%= render 'shared/sidebar' %>
      <div class="flex flex-col w-full overflow-scroll">
          <%= yield %>
      </div>
    </main>
  </body>
</html>
